<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
    <body>
        <main>
            <h1>Username: {{ username }}</h1>
            <h2>Email: {{ email }}</h2>
            <ul>
                <li>First Name: {{ firstName }}</li>
                <li>Last Name: {{ lastName }}</li>
            </ul>
        </main>
        
    </body>
</html>